doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Edit Companies
        form(action="/update-cobj" method="POST")
            table.styled-table
                thead
                    tr
                        th Company Name
                        th About Us 
                        th Annual Revenue
                tbody
                    each company, index in data
                        tr
                            input(type="hidden" name=`companies[${index}][id]` value=company.id)
                            td
                                input(type="text" name=`companies[${index}][name]` value=company.properties.name)
                            td
                                input(type="text" name=`companies[${index}][about_us]` value=company.properties.about_us)
                            td
                                input(type="number" name=`companies[${index}][annualrevenue]` value=company.properties.annualrevenue)
            button(type="submit").save-button Save All Changes
